<header>
  <div class="grid grid-row-2">
    <div class="grid grid-cols-12">
      <div class="col-span-2 mx-auto">
        <a href="/home"><img src="../../../../../assets/images/Logo.png" class="logo my-2"></a>
        
      </div>
      <div class="col-span-1 my-auto mx-auto">
        <div class="flex flex-row">
          <div class="burger" onclick="myFunction(this)">
            <div class="bar1 my-auto"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          <p class="ml-2 my-auto category-title-menu">Menú</p>
        </div>
      </div>
      <form class="flex col-span-5 my-auto searchbar-container">
        <input type="text" placeholder="¿Qué producto desear buscar?" class="input-searchbar">
        <button type="submit" class="flex btn-search">
          <img src="./../../../../../assets/icons/icon_search.svg" class="search-icon">
        </button>
      </form>
      <div class="col-start-10 col-span-4 my-auto">
        <div class="flex flex-row-reverse justify-evenly">
          <div class="info">
            <div class="cart">
              <a href="">
                <img src="./../../../../../assets/icons/icon_shopping_cart.svg">
              </a>
              <span class="counter">{{ counter }}</span>
            </div>
          </div>
          <div class="divider">|</div>
          <div class="flex">
            <a href="" class="flex flex-row gap-2">
              <img src="../../../../../assets/icons/icon_account_menu.svg" class="account-icon">
              <p class="my-auto">Mi cuenta</p>
            </a>
            
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end gap-x-6 pr-4 track-nav">
      <div class="flex">
        <a href="" class="flex flex-row">
          <img src="../../../../../assets/icons/icon-building.svg" class="account-icon mr-1 mb-3">
          <p class="my-auto">Sucursal y horarios</p>
        </a>
      </div>
      <div class="flex">
        <a href="" class="flex flex-row">
          <img src="../../../../../assets/icons/icon-package.svg" class="account-icon mr-1">
          <p class="my-auto">Seguimiento de compra</p>
        </a>
      </div>
    </div>
  </div>

</header>